@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500;600;700;800;900&display=swap');

:root {
    --primary: #4972A8;
    --secondary: #D25636;
    --black:#000000c4; 
    --grey: #414040;
}
a:hover{
    text-decoration: none;
}
/* SMALL NAV */
.uk-small-nav{
    z-index:999; 
    position: relative; 
    background-color: var(--black) !important; 
    font-size:14px !important;
    font-family: 'Poppins', sans-serif;
}
.uk-small-nav-icon i{
    margin-right: 10px;
    font-size: 20px !important;
}
.uk-small-nav-icon-footer i{
    margin-right: 18px;
    font-size: 25px !important;
    margin-top: 30px;
    color: white;
    
}
/* large nav */
.uk-navbar-container{
    z-index: 999 !important;
    background-color: white;
}
.uk-dropnav-dropbar{
    background-color: var(--primary) !important; 
}
nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--primary);
  height: 3px;
  transition: all 0.5s ease-in-out;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}
.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
.uk-drop.uk-open{
    top:77px !important;
    box-shadow: none !important;
    background: var(--primary);
}
 .uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
    min-height: 70px !important;
}
.uk-navbar-nav .uk-navbar-dropdown li a:hover, .uk-dropdown-nav li a:hover ,.uk-nav-sub li a:hover{
    transform: translateX(6px);
    transition:.3s;
}
@media (min-width: 960px){
.uk-navbar-nav {
    gap: 22px !important;
}
}
/* nav-font */
.uk-navbar-nav li a{
    font-family: 'Outfit', sans-serif !important;
    font-size: 15px !important;
    color: var(--black) !important;
    text-transform: capitalize ;
    font-weight: 500;
}
.uk-navbar-nav li a:hover{
    color: var(--primary)!important;
}
.uk-navbar-dropdown-nav li a, .uk-dropdown-nav li a {
    margin-bottom:5px;
    color: white !important;
    font-family: 'Barlow', sans-serif !important;
    font-size: 15px !important;
    font-weight: 500;
} 
.uk-navbar-dropdown-nav li a:hover, .uk-dropdown-nav li a:hover{
    color: white !important;
}
.offcanvas-font li a{
    color:var(--primary) !important;
    font-family: 'Barlow', sans-serif !important;
    font-size:15px;
}

.uk-section-padding{
    padding: 100px 70px;
    
  }
/* large nav end */

/* logo */
.uk-logo img{
    height: 80px;
    width: 100%;
}
/* button */
.nav-primary-button{
    background-color: var(--primary);
    border: none;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    border-radius: 30px;
    padding: 10px 20px;
}
.uk-blue-button{
    background-color: var(--primary);
    border: none;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    border-radius: 30px;
    padding: 15px 25px;
}
.servives-button{
    color: var(--secondary) !important;
    font-size:17px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.text-light{
    color: white !important;
}
.text-light a{
    color: white !important;
}
.uk-button{
    padding: 7px 40px;
    display: inline-block !important;
    font-weight: 600;
    border-radius: 30px;
    margin-top: 20px;
}
.uk-primary{
    background-color: var(--primary);
}

.uk-main-slider{
    height:100vh;
    background-image: url('../img/black-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 100px;
}
.uk-main-slider-img img{
    width: 100%;
    object-fit: cover;
    height:100vh;
}
.uk-main-slider h5{
    font-family: 'Outfit', sans-serif !important; 
    line-height: 66px;
    font-size: 61px;
    color: white;
    font-weight: bold;
}
.uk-banner-paragraph{
    color: white !important;
    font-family: 'Poppins', sans-serif;
    font-size: 18px !important;
}
.section-padding{
    padding: 50px 0 !important;
}
.grey-bg{
    background-image: url('../img/grey-bg.png');
    background-color: #F1F1F1;
    background-repeat: no-repeat;
    background-size: cover;
}
.black-bg{
    background-image: url('../img/pattern-bg.png');
    background-color: #000;
    background-repeat:repeat-x;
    background-position: bottom top;
    background-attachment: fixed;
}

/* font */
h1{
    font-family: 'Outfit', sans-serif !important; 
    font-size: 16px;
    color: var(--secondary);
    font-weight: bold;
    margin: 0;
}
h1:before {
    content: "";
    display: inline-block;
    width: 42px;
    height: 2.5px;
    vertical-align: middle;
    background-color: var(--secondary);
    margin-right: 5px;
}
h2{
    font-family: 'Outfit', sans-serif !important; 
    font-size: 30px;
    color: var(--black);
    font-weight: bold;
    margin:0 0 15px 0 ;
}
h3 , h3 a{
    font-family: 'Outfit', sans-serif !important; 
    font-size: 22px;
    color: var(--black) !important;
    font-weight: bold;
    margin:0 0 15px 0 ;
}
p{
    font-size:14px !important;
    font-family: 'Poppins', sans-serif;
    color: var(--grey);
}

.section-card{
    border-top: 7px solid var(--black);
    padding: 25px 0;
}
.news-block img{
    height: 235px !important;
    width: 100%;
    object-fit: cover;
}
.news-content{
    padding: 15px 15px 10px 15px;
    border: 1px solid #6b6b6b36;
    border-top: none;
}
.uk-content-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.uk-footer{
    background-color: #343434;
    color: white!important;
background-image: url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
}
.uk-footer ul li p{
    margin: 8px 0 !important;
}